html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #212534;
  display: flex;
  align-items: center;
  justify-content :center;
  height: 100vh;
  width: 100vw;
}

main{
  position: relative;
  display: flex;
  align-items: center;
  justify-content :center;
  width: min(1000px, 100vw);
  height: min(1000px, 100vh);
}

canvas {
  display: block;
  cursor: pointer;
}

button, select {
  display: flex;
  align-items: center;
  font-size: 18px;
  border: 0px solid rgba(79, 70, 229);
  color: #fff;
  background-color: rgba(79, 70, 229, 0.9);
  outline: none;
  margin-left: 12px;
  padding: 8px 12px;
  border-radius: 6px;
}

select:hover,
select:focus,
button:hover,
button:focus {
  cursor: pointer;
  color: #fff;
  border-color: #fff;
  background-color: rgba(79, 70, 229);
}

.play_btn{
  border-radius: 6px 0 0 6px;
  padding: 8px 12px;
  margin-left: 0;
}

.play_btn.play .play{
  width: 0;
  height: 0;
  border-left: 16px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.play_btn.stop .stop{
  width: 16px;
  height: 16px;
  background-color: #fff;
}

.tracks_select{
  padding: 8px 8px 8px 12px;
  border-radius: 0 6px 6px 0;
  margin-left: 0;
}

.psyche_btn{
  padding: 8px 12px;
  border-radius: 6px;
}

.warning, .warning:focus, .warning:hover {
  background-color: rgb(230,57,70, 0.9);
}

#controls{
  position: absolute;
  top : 20px;
  left: 20px;
  z-index: 3;
  display: flex;
}

.made-by{
  position: absolute;
  bottom: 12px;
  right: 12px;
  opacity: 0.5;
  z-index: 2;
  font-size: 14px;
  color: #fff;
}